footer {
    background-color: hotpink;
    padding: 20px 25%;
    display: flex;
}

footer div {
    margin: 2%;
    flex: 1;
}

.contact-us,
.about-us {
    color: white;
    font-family: 'Rubik', sans-serif;
}

.footer-link {
    color: white;
    font-family: Arial, sans-serif;
}

@media(max-width:1000px) {
    footer {
        padding: 20px 15%;
    }
}