:root {
    --bg-color: #5c2a98;
    --nav-link-color: #fff;
}

.cover-container {
    margin-bottom: 3%;
}

.cover-photo {
    width: 100%;
}

.items1-list {
    display: flex;
    background-color: white;
    padding: 0;
    margin: 0 5%;
    margin-top: -23%;
    position: relative;
}

.item1 {
    flex: 1;
    margin: 1%;
    text-align: center;
}

.item1 img {
    width: 100%;
}

.items2-container {
    padding: 2%;
}

.items2-list {
    display: flex;
    background-color: var(--bg-color);
    padding: 0;
}

.item2 {
    background-color: white;
    flex: 1;
    margin: 1%;
    text-align: center;
    padding: 5px;
}

h3 {
    padding: 1%;
    margin: 0;
    color: white;
}

.items3-container {
    background-color: lightgray;
    padding: 5%;
}

.carousel-item img {
    height: 100%;
    margin: auto;
}


/* .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 30px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    color: red;
} */