<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Shopper</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Fonts-Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300&family=Rubik:wght@800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/navbar_styles.css">
    <link rel="stylesheet" href="/css/footer_styles.css">
    <link rel="stylesheet" href="/css/categories_styles.css">
</head>

<nav>
    <div class="site-title">Simple Shopper</div>
    <div class="list-items">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/categories">Categories</a></li>
            <li class="nav-item"><a href="#help">Help</a></li>
            <li class="nav-item"><a href="#cart"><i class="lni lni-cart"></i></a></li>
        </ul>
    </div>
</nav>

<div class="outer-container">
    <h3 class="headline">Categories</h3>
    <div class="inner-container">
        <div class="category-container">
            <img src="/photos/beauty-cover.jpg" class="category-link" name="Beauty" alt="">
            <p>Beauty Products</p>
        </div>
        <div class="category-container">
            <img src="/photos/electronics-cover.png" class="category-link" name="Electronics" alt="">
            <p>Electronics</p>
        </div>
        <div class="category-container">
            <img src="/photos/books-cover.jpg" class="category-link" name="Books" alt="">
            <p>Books</p>
        </div>
        <div class="category-container">
            <img src="/photos/mobile-cover.jpg" class="category-link" name="Mobile" alt="">
            <p>Smart Phones</p>
        </div>
        <div class="category-container">
            <img src="/photos/fashion-cover.png" class="category-link" name="Fashion" alt="">
            <p>Fashion</p>
        </div>
        <div class="category-container">
            <img src="/photos/appliances-cover.jpg" class="category-link" name="Appliances" alt="">
            <p>Appliances</p>
        </div>
        <div class="category-container">
            <img src="/photos/fitness-cover.png" class="category-link" name="Fitness" alt="">
            <p>Fitness</p>
        </div>
        <div class="category-container">
            <img src="/photos/kitchen-cover.jpg" class="category-link" name="Kitchen" alt="">
            <p>Kitchen</p>
        </div>
    </div>
</div>






<form action="/" method="post" id="categories-form">
    <input type="hidden" name="type" id="form-type">
    <input type="hidden" name="value" id="form-value">
</form>




<footer>
    <div>
        <h3 class="contact-us">Contact us </h3>
        <a class="footer-link" href="#">Facebook</a><br>
        <a class="footer-link" href="#">Instagram</a><br>
        <a class="footer-link" href="#">Github</a>
    </div>
    <div>
        <h3 class="about-us">Get to know us </h3>
        <a class="footer-link" href="#">About us</a><br>
        <a class="footer-link" href="#">About website</a>
    </div>
</footer>

<script src="/js/categories_events.js">
</script>
</body>

</html>