:root {
    --bg-color: #5c2a98;
    --nav-link-color: #fff;
}

.cover-container {
    margin-bottom: 3%;
}

.cover-photo {
    width: 100%;
}

.items1-list {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: white;
    padding: 0;
    margin: 0 5%;
    margin-top: -23%;
    position: relative;
}

.item1 {
    flex: 1;
    margin: 1%;
    text-align: center;
}

.item1 img {
    height: 200px;
    object-fit: contain;
}

.items2-container {
    padding-top: 4%;
    border-top: solid white;
    border-bottom: solid white;
    padding: 2%;
}

.items2-list {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    padding: 0;
}

.item2 {
    border-radius: 5px;
    background-color: white;
    width: 210px;
    margin: 1%;
    text-align: center;
    padding: 10px;
}

.product-link {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

h3 {
    padding: 1%;
    margin: 0;
    color: white;
}

.items3-container {
    background-color: lightgray;
    padding: 5%;
}

.carousel-item img {
    height: 400px;
    margin: auto;
}

@media (max-width: 1000px) {
    .item1 img {
        height: 100px;
    }
}